
PORT=3000
NODE_ENV=
BASE_URL=

MONGODB_URI=


HUBSPOT_ACCESS_TOKEN=
HUBSPOT_APP_SECRET=


QB_SANDBOX_BASE_URL=
QB_TEST_ACCESS_TOKEN=
QB_REALM_ID=
QB_CLIENT_ID=
QB_CLIENT_SECRET=
QB_WEBHOOK_VERIFIER_TOKEN=
QB_DEFAULT_TAX_CODE_ID=5
QB_REDIRECT_URI=

ENCRYPTION_KEY=
INTERNAL_API_KEY=
ALLOWED_ORIGINS=http://localhost:3000,https://app.hubspot.com


DEFAULT_TENANT_ID=


MAX_RETRY_ATTEMPTS=3
WORKER_CONCURRENCY=3

LOG_LEVEL=info